{
  "extends": [
    "airbnb",
    "airbnb/hooks",
    "plugin:testing-library/recommended",
    "plugin:testing-library/react",
    "plugin:jest-dom/recommended"
  ],
  "parser": "babel-eslint", // This line is required to fix "unexpected token" errors
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  },
  "plugins": [
    "testing-library",
    "jest-dom"
  ],
  "rules": {
    "react/jsx-props-no-spreading": "off",
    "react/jsx-one-expression-per-line": "off",
    "no-console": 2,
    "testing-library/await-async-query": 2,
    "testing-library/no-await-sync-query": 2,
    "testing-library/no-debug": 2,
    "jest-dom/prefer-checked": 2,
    "jest-dom/prefer-enabled-disabled": 2,
    "jest-dom/prefer-required": 2,
    "jest-dom/prefer-to-have-attribute": 2,
    "import/no-extraneous-dependencies": ["error", {"devDependencies": true}],
    "indent": ["error", 2, { "ignoredNodes": ["TemplateLiteral"] }],
    "template-curly-spacing": "off"
  }
}
